  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="userForm" (ngSubmit)="saveUser(userForm.value)">
      <span class="text-danger" *ngIf="showError"> Please fill in all required fields.</span>
        <div class="form-group">
          <label for="firstName">First Name <span class="text-danger">*</span></label>
          <input type="text" class="form-control" id="firstName" placeholder="John" formControlName="firstName" required>
        </div>
        <div class="form-group">
          <label for="lastName">Last Name <span class="text-danger">*</span></label>
          <input type="text" class="form-control" id="lastName" placeholder="Smith" formControlName="lastName" required>
        </div>
        <div class="form-group">
          <label for="email">Email <span class="text-danger">*</span></label>
          <input type="email" class="form-control" id="email" placeholder="john@smith" formControlName="email" required>
        </div>
        <div class="form-group">
            <label class="mr-sm-2" for="color">Color</label>
            <select class="custom-select mr-sm-2" id="color" formControlName="color">
              <option selected value="">Choose...</option>
              <option *ngFor="let color of colors" [ngClass]="color.color" [value]="color.value">{{color.value}}</option>
            </select>
        </div>
        
        <div class="modal-footer">
            <button type="submit" class="btn btn-outline-dark">{{action}}</button>
        </div>
      </form>
  </div>
